<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

</head>
<body>

      <!-- ✨ S3 ✨ -->
    <div class="video-container-s3">
        <video id="player_s3" autoplay muted playsinline controls controlsList="nodownload" controlsList="noplayback" width="750">
            <source src="https://zella.s3.ap-northeast-2.amazonaws.com/ces/%EC%9C%A0%ED%8A%9C%EB%B8%8C+%EC%B1%95%ED%84%B0+%EB%A7%8C%EB%93%A4%EA%B8%B0+%E2%8C%9A%EF%B8%8F+%EC%9C%A0%ED%8A%9C%EB%B8%8C+%EC%B1%95%ED%84%B0+%EB%B6%84%ED%95%A0+%EC%95%88%EB%90%A8+%EC%9D%B4%EC%9C%A0+%E2%8C%9A%EF%B8%8F+%EC%9C%A0%ED%8A%9C%EB%B8%8C+%ED%83%80%EC%9E%84%EC%BD%94%EB%93%9C+%EA%B8%B0%EB%8A%A5%EC%9C%BC%EB%A1%9C+%EC%9E%AC%EC%83%9D%EB%B0%94+%EB%A7%8C.mp4" type="video/mp4">
        </video>
    </div>

    

<script defer type="text/javascript" src='/video.js'></script>

</body>
</html>